@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #136A79;
  /* --color-primary: #16a34a; */
  /* --color-secondary: #1e1e1e; */
  --color-accent: #22c55e;
}

input:focus,
textarea:focus {
  outline: 0px solid #16a34a;
  border: 1px solid #16a34a;
}
